@model CollectionManagement.BusinessEntityLayer.ViewModel.CollectionTransactionViewModel
@using CollectionManagement.Common
@{
    Layout = null;
}
<div class="card-body collapse in">
    <div class="card-block">
        <div class="form-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Department</label>
                        @Html.DisplayFor(model => model.DepartmentName)
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="service-rows">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TransactionServiceModelList)
                        {
                            <tr class="row_1">
                                <td>@item.ServiceName</td>
                                <td>@item.Rate</td>
                                <td>@item.Quantity</td>
                                <td>@(item.Rate * item.Quantity)</td>
                                <td>@item.Remarks</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Transaction Id</label>
                        @Html.DisplayFor(model => model.TransactionId)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Transaction Status</label>
                        @(((EnumModel.TransactionStatus)Model.TransactionStatus).ToString())
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Applicant Name</label>
                        @Html.DisplayFor(model => model.ApplicantName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Mobile Number</label>
                        @Html.DisplayFor(model => model.MobileNumber)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Address</label>
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Applicant GST Number</label>
                        @Html.DisplayFor(model => model.ApplicantGSTNumber)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Total Amount</label>
                        @Html.DisplayFor(model => model.TotalAmount)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-5">Remarks</label>
                        @Html.DisplayFor(model => model.Remarks)
                    </div>
                </div>
            </div>
            @if (Model.TransactionStatus == (int)EnumModel.TransactionStatus.Pending)
            {
                using (Html.BeginForm("SavePaymentDetails", "Dashboard", FormMethod.Post, new { id = "paymentDetailsForm", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.CollectionTransactionId)
                    @Html.HiddenFor(model => model.TransactionId)
                    <span class="text-danger" id="validationMsg"></span>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-5">Mode of Payment</label>
                                @Html.DropDownList("ModeOfPayment", new SelectList(ViewBag.ListMOP, "Text", "Value", "Select"), "Select", new { @class = "form-control", @onchange = "return changeMOP(this);" })
                            </div>
                        </div>
                        <div class="col-md-6 cheque" style="display:none">
                            <div class="form-group">
                                <label class="col-md-5">Cheque Number</label>
                                @Html.Editor("ChequeNumber", new { htmlAttributes = new { @class = "form-control rateTxt", @autocomplete = "off", @placeholder = "Cheque Number", @maxlength = "20" } })
                            </div>
                        </div>
                        <div class="col-md-6 dd" style="display:none">
                            <div class="form-group">
                                <label class="col-md-5">DD Number</label>
                                @Html.Editor("DDNumber", new { htmlAttributes = new { @class = "form-control rateTxt", @autocomplete = "off", @placeholder = "DD Number", @maxlength = "20" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 cheque" style="display:none">
                            <div class="form-group">
                                <label class="col-md-5">Bank Name</label>
                                @Html.Editor("BankNameC", new { htmlAttributes = new { @class = "form-control bankName", @autocomplete = "off", @placeholder = "Bank Name", @maxlength = "50" } })
                            </div>
                        </div>
                        <div class="col-md-6 cheque" style="display:none">
                            <div class="form-group">
                                <label class="col-md-5">Bank Address</label>
                                @Html.Editor("BankAddressC", new { htmlAttributes = new { @class = "form-control bankAddress", @autocomplete = "off", @placeholder = "Bank Address", @maxlength = "50" } })
                            </div>
                        </div>
                        <div class="col-md-6 dd" style="display:none">
                            <div class="form-group">
                                <label class="col-md-5">Bank Name</label>
                                @Html.Editor("BankNameD", new { htmlAttributes = new { @class = "form-control bankName", @autocomplete = "off", @placeholder = "Bank Name", @maxlength = "50" } })
                            </div>
                        </div>
                        <div class="col-md-6 dd" style="display:none">
                            <div class="form-group">
                                <label class="col-md-5">Bank Address</label>
                                @Html.Editor("BankAddressD", new { htmlAttributes = new { @class = "form-control bankAddress", @autocomplete = "off", @placeholder = "Bank Address", @maxlength = "50" } })
                            </div>
                        </div>
                        <div class="col-md-6" style="display:none" id="cash">
                            <table class="service-rows">
                                <thead>
                                    <tr><td colspan="6">Denominations</td></tr>
                                    <tr>
                                        <th>Amount in Rs.</th>
                                        <th>2000</th>
                                        <th>500</th>
                                        <th>200</th>
                                        <th>100</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Number</th>
                                        <td>
                                            @Html.Editor("Denomination2K", new { htmlAttributes = new { @class = "form-control numeric", @autocomplete = "off", @placeholder = "Number", @maxlength = "5" } })
                                        </td>
                                        <td>
                                            @Html.Editor("Denomination5H", new { htmlAttributes = new { @class = "form-control numeric", @autocomplete = "off", @placeholder = "Number", @maxlength = "5" } })
                                        </td>
                                        <td>
                                            @Html.Editor("Denomination2H", new { htmlAttributes = new { @class = "form-control numeric", @autocomplete = "off", @placeholder = "Number", @maxlength = "5" } })
                                        </td>
                                        <td>
                                            @Html.Editor("Denomination1H", new { htmlAttributes = new { @class = "form-control numeric", @autocomplete = "off", @placeholder = "Number", @maxlength = "5" } })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="form-actions">
                        <button type="button" class="btn btn-warning mr-1" id="btn-cancelForm" onclick="return cancelForm();">
                            <i class="icon-cross2"></i> Cancel
                        </button>
                        <button type="button" class="btn btn-blue mr-1" id="btn-saveMoP" onclick="return saveMOP();">
                            <i class="icon-box-add"></i> Save
                        </button>
                    </div>
                }
            }
            else if (Model.TransactionStatus == (int)EnumModel.TransactionStatus.Success)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-5">Mode of Payment</label>
                            @(((EnumModel.ModeofPayment)Model.ModeOfPayment).ToString())
                        </div>
                    </div>
                    @if ((Model.ModeOfPayment == (int)EnumModel.ModeofPayment.Cheque))
                    {
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="col-md-5">Cheque Number</label>
                                @Html.DisplayFor(model => model.ChequeNumber)
                            </div>
                        </div>
                    }
                    @if ((Model.ModeOfPayment == (int)EnumModel.ModeofPayment.DD))
                    {
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="col-md-5">DD Number</label>
                                @Html.DisplayFor(model => model.DDNumber)
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @if ((Model.ModeOfPayment == (int)EnumModel.ModeofPayment.DD))
                    {
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="col-md-5">Bank Name</label>
                                @Html.DisplayFor(model => model.BankNameD)
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="col-md-5">Bank Address</label>
                                @Html.DisplayFor(model => model.BankAddressD)
                            </div>
                        </div>
                    }
                    @if ((Model.ModeOfPayment == (int)EnumModel.ModeofPayment.Cheque))
                    {
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="col-md-5"> Bank Name</label>
                                @Html.DisplayFor(model => model.BankNameC)
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="col-md-5">Bank Address</label>
                                @Html.DisplayFor(model => model.BankAddressC)
                            </div>
                        </div>
                    }
                    @if ((Model.ModeOfPayment == (int)EnumModel.ModeofPayment.Cash))
                    {
                        <div class="col-md-6">
                            <table class="service-rows">
                                <thead>
                                    <tr><td colspan="6">Denominations</td></tr>
                                    <tr>
                                        <th>Amount in Rs.</th>
                                        <th>2000</th>
                                        <th>500</th>
                                        <th>200</th>
                                        <th>100</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Number</th>
                                        <td>
                                            @Html.DisplayFor(model => model.Denomination2K)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Denomination5H)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Denomination2H)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Denomination1H)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

<style>
    label {
        font-weight: bold;
    }

    table, td, th {
        border: 1px solid #e1e1e1;
    }

    td, th {
        padding: 10px;
    }
</style>
